# Ignore all .env files 
.env*

# ignore node_modules
node_modules

# Ignore build output
package-lock.json
yarn.lock

# Ignore logs
npm-debug.log
yarn-error.log

# Ignore coverage directory
.DS_Store
